<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/marks_form" method="post">
        <label for="c"></label>
        <input type="text" name="c" id="c">
        <label for="java"></label>
        <input type="text" name="java" id="java">
        <label for="python"></label>
        <input type="text" name="python" id="python">
        <input type="submit" value="submit">
    </form>
</body>
</html>