<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sin Graph</title>
    <script type="text/javascript" src={{ cdn_js | safe }}></script>
    <style>
        .graph{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>My Bokeh Plot</h1>
    <div class="graph">
        {{ script1 | safe }}
        {{ div1 | safe }}
    </div>
</body>
</html>