{% block head %}

<title>Cricket Selection Details</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Cricket Selection Details</h1>

    <div class="form">
        <center>
            <table>
                <form action="/cricket" method="POST">
                    <tr>
                        <td>
                            <label>Enter Player Name:</label>
                        </td>
                        <td>
                            <input type="text" name="player_name" id="player_name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Enter Player Age:</label>
                        </td>
                        <td>
                            <input type="text" name="age" id="age">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="role">Choose Your Role:</label>
                        </td>
                        <td>
                            <select id="role" name="role">
                                <option value="batsman">batsman</option>
                                <option value="fast-bowler">fast-bowlwe</option>
                                <option value="spin-bowler">spin-bowler</option>
                                <option value="leg-spinner">leg-spinner</option>
                                <option value="medium-pacer">medium-pacer</option>
                                <option value="all-rounder">all-rounder</option>
                                <option value="wicket keeper">wicket keeper</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="submit">
                        </td>
                        <td></td>
                    </tr>
                </form>
            </table>
        </center>
    </div>
</div>
{% endblock %}
